@model IEnumerable<CourseManagament.Web.ViewModels.CourseTraineesViewModels>
@{
    ViewBag.Title = "TrainnesInAssignedCourse";
}

<h2>TrainnesInAssignedCourse</h2>
@foreach (var item in Model)
{
    <ul>
        @foreach (var user in item.Trainees)
        {
            <li>@user.FullName</li>
        }
    </ul>
}